* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    max-width: 100vw;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}


a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.chakra-text {
    line-height: 1.8;
    font-size: 17px;
    color: black;
}
